<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa's Pizza</title>

    <!-- Favicon -->
    <link rel="icon" href="../images/pizza-icon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <main>
        <header>
            <img src="../images/pizza-guy-img.jpg" alt="Poppa">
            <h1>Tommy's Pizza</h1>
            <p id="tagline">The best pizza GRC students have ever tasted!</p>
            <hr>
            <p>Tommy's Pizza serves up fresh, handcrafted pizzas with 
            bold flavors and a warm, family-friendly vibe.</p>
        </header>
        <h1>Contact Us</h1>
        <button><a href="/">Place an order here</a></button>
    <main>
</body>
</html>